{% extends 'default_frame.twig' %}

{% block main %}

<link rel="stylesheet" href="../html/user_data/assets/css/pages_sf.css">
<style type="text/css">
<!--
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500&display=swap');
--></style>

<main>
<article>
	<section class="head">
		<div class="page-kv">
			<picture>
			<source media="(min-width:640px)" srcset="{{ asset('img/christmas2023/kv.jpg','user_data') }} 2000w">
			<source media="(min-width:320px)" srcset="{{ asset('img/christmas2023/kv_sp.jpg','user_data') }} 870w">
			<img srcset="{{ asset('img/christmas2023/kv_sp.jpg','user_data') }} 870w, 
			{{ asset('img/christmas2023/kv.jpg','user_data') }} 2000w" alt="クリスマスギフトにおすすめのヨガグッズ特集">
			</picture>
		</div>
	</section>

	<section>
		<div class="read">いよいよ年の瀬、街のイルミネーションが<br class="sp">華やかな季節になりました。<br>
			大切な人やご自身に贈るプレゼントは、<br class="sp">もうお決まりでしょうか？<br>
			<br>
			今回は、これからヨガを始める方にも<br class="sp">ぴったりな人気アイテム5種をご紹介！<br>
			今年はヨガグッズを通して、<br class="sp"><span class="text_red">「身体と心の健康」</span>を<br class="pc">
			プレゼントしてみては<br class="sp">いかがでしょうか。</div>
	</section>
</article>

<article>
	<div class="top_block">
	
		<div class="kazari01"><img src="{{ asset('img/christmas2023/col02_kazari01.png','user_data') }}"></div>
		<div class="kazari02"><img src="{{ asset('img/christmas2023/col02_kazari02.png','user_data') }}"></div>

			<h2 class="top_block_title">
				<div class="inner-txt">ヨガグッズが</div><br>
				<div class="inner-txt">クリスマスプレゼントに</div><br>
				<div class="inner-txt">おすすめな理由</div></h2>
			<section>
				<div class="inner_p">コロナ以降、自宅でできる「宅トレ」や<br class="sp">「オンラインレッスン」が広がりましたが、<br>
				ヨガマットやプロップスは、<br class="sp">「わざわざ買わなくても・・・」と、<br class="sp">持っていない方も多いのが現状です。<br><br>
					
				でも、同じ時間をかけた運動でも、<br class="sp">ちゃんとした道具を使うだけでその効果や<br class="sp">安全性はぐっと高まります！<br><br>
					
				身体や心を元気に保つことは、何にも変えがたい人生の宝物。<br><br>
					
				なかなか自分では揃えられないヨガグッズをプレゼントすることで、<br class="pc">
				<span>未来の笑顔や健康までプレゼントできたらとっても素敵ですよね！</span></div>
			</section>
		
		<div class="kazari03"><img src="{{ asset('img/christmas2023/col02_kazari03.png','user_data') }}"></div>

	</div>
</article>

<!--list-->
<article>
	<section>
		<div class="content_list">
			<div class="inner_left">
				<ul>
					<li><a href="#pilates">ふわもち触感で人気NO.1 「ピラティスマット 12mm」</a></li>
					<li><a href="#sadhana">最高品質のヨガマット 「サダナ・プロ4.2mm」</a></li>
					<li><a href="#bolster">職人手作りのこだわりの逸品 「ボルスター」</a></li>
				</ul>
			</div>
			<div class="inner_right">
				<ul>
					<li><a href="#mat6">お手頃価格でカラバリ豊富 「ヨガマット6mm」</a></li>
					<li><a href="#block">ヨガの効果を劇的に高める 「ヨガブロック各種」</a></li>
				</ul>
			</div>
		</div>
	</section>
</article>
<!--/list-->

<!--box 01-->
<article>
	<div id="pilates" class="box01">
		<div class="box_frame">
	
			<div class="col_kazari01"><img src="{{ asset('img/christmas2023/col_kazari02.png','user_data') }}"></div>
		
			<section>			
				<div class="btn_box">
					<div class="btn_houseyoga"><img src="{{ asset('img/christmas2023/btn_houseyoga.png','user_data') }}" alt="自宅でヨガしたい方"></div>
					<div class="btn_mamas"><img src="{{ asset('img/christmas2023/btn_mamas.png','user_data') }}" alt="出産したママや祖父母へ"></div>
				</div>

			<h3 class="col_title">
				<picture>
					<source media="(min-width:640px)" srcset="{{ asset('img/christmas2023/tt_pilates.png','user_data') }} 2000w">
					<source media="(min-width:320px)" srcset="{{ asset('img/christmas2023/tt_pilates_sp.png','user_data') }} 870w">
					<img srcset="{{ asset('img/christmas2023/tt_pilates_sp.png','user_data') }} 870w, 
					{{ asset('img/christmas2023/tt_pilates.png','user_data') }} 2000w" alt="ピラティスマット12mm">
				</picture>
			</h3>	

				<div class="waku">
					<div class="inner-block01">
						<div class="pct"><img src="{{ asset('img/christmas2023/col2_01.jpg','user_data') }}"></div>
						<div class="txt_box">
							<h4>全世代・ジャンル　オールマイティ</h4>
							<p>12mmのふわもち触感で、床の固さや冷えを完全にシャットアウト。<br>
							通常のヨガはもちろん、ピラティスやトレーニング、マタニティヨガなど様々なジャンルに使用できます。<br>
							インテリアにも馴染むカラーで、全世代にマッチするプレゼントに最適なマットです。</p>
						</div>
					</div>

					<div class="inner-block02">
						<div class="pct"><img src="{{ asset('img/christmas2023/col2_02.jpg','user_data') }}"></div>
						<div class="txt_box">
							<h4>宅トレの怪我や痛みから体を守る</h4>
							<p>最近は動画を見ながらお家でエクササイズされる方が増えましたが、予想しない怪我から体を守るためにも<span class="text_red">厚みがありクッション性に優れた12mm</span>のマットはおすすめ。<br>
							硬いフローリングの上でも、1枚敷くだけで膝や肘の痛みがなく安心です！</p>
						</div>
					</div>
				</div>

				<div class="banner"><a href="/products/detail/6"><img src="{{ asset('img/christmas2023/bn_pilates.png','user_data') }}" alt="ピラティスマット12mm"></a></div>
			</section>
		</div>		
	</div>
</article>
<!--/box 01-->

<!--box 02-->
<article>
	<div id="mat6" class="box02">
	<div class="box_frame">
		<div class="col_kazari02"><img src="{{ asset('img/christmas2023/col_kazari01.png','user_data') }}"></div>
		
			<section>			
				<div class="btn_box02">
					<div class="btn_korekarayoga"><img src="{{ asset('img/christmas2023/btn_korekarayoga.png','user_data') }}" alt="これからヨガを始める方"></div>
					<div class="btn_fromcolor"><img src="{{ asset('img/christmas2023/btn_fromcolor.png','user_data') }}" alt="豊富なカラーから選びたい方へ"></div>
				</div>

				<h3 class="col_title">
					<picture>
						<source media="(min-width:640px)" srcset="{{ asset('img/christmas2023/tt_mat6.png','user_data') }} 2000w">
						<source media="(min-width:320px)" srcset="{{ asset('img/christmas2023/tt_mat6_sp.png','user_data') }} 870w">
						<img srcset="{{ asset('img/christmas2023/tt_mat6_sp.png','user_data') }} 870w, 
						{{ asset('img/christmas2023/tt_mat6.png','user_data') }} 2000w" alt="ヨガマット6mm">
					</picture>
				</h3>

				<div class="waku">
					<div class="inner-block01">
						<div class="pct"><img src="{{ asset('img/christmas2023/col3_01.jpg','user_data') }}"></div>
						<div class="txt_box">
							<h4>ヨガスタジオで最も導入されている<br>
								王道のヨガマット6mm。</h4>
							<p>お手軽価格ですが、グリップや耐久性は現場のインストラクターのお墨付き。<br>
								他ではなかなかない高級感がある大人かわいいニュアンスカラーが豊富ですので、お部屋にそのまま置くだけでもおしゃれ度アップ！</p>
						</div>
					</div>

					<div class="inner-block02">
						<div class="pct"><img class="corner" src="{{ asset('img/christmas2023/col3_02.jpg','user_data') }}"></div>
						<div class="txt_box">
							<h4>肌に優しい安全性と環境配慮</h4>
							<p>発がん性があると言われているアゾ染料やDEHPを使用しておらず、欧州で玩具の安全性について定めた規格にも沿って生産していますので、赤ちゃんが触れても安心。<br>
							また二酸化炭素の影響を配慮した「カーボンオフセット」対象マットで、環境にもケアした一枚です。</p>
						</div>
					</div>
				</div>

				<div class="banner"><a href="/products/detail/3"><img src="{{ asset('img/christmas2023/bn_mat6.png','user_data') }}" alt="ヨガマット6mm"></a></div>

			</section>			
		</div>
	</div>
</article>
<!--/box 02-->

<!--box 03-->
<article>
	<div id="sadhana" class="box01">
		<div class="box_frame">
		<div class="col_kazari01"><img src="{{ asset('img/christmas2023/col_kazari02.png','user_data') }}"></div>
	
		<section>			
			<div class="btn_box03">
				<div class="btn_mens"><img src="{{ asset('img/christmas2023/btn_mens.png','user_data') }}" alt="男性や本物志向の方へ"></div>
				
			</div>

			<h3 class="col_title">
				<picture>
					<source media="(min-width:640px)" srcset="{{ asset('img/christmas2023/tt_sadhana.png','user_data') }} 2000w">
					<source media="(min-width:320px)" srcset="{{ asset('img/christmas2023/tt_sadhana_sp.png','user_data') }} 870w">
					<img srcset="{{ asset('img/christmas2023/tt_sadhana_sp.png','user_data') }} 870w, 
					{{ asset('img/christmas2023/tt_sadhana.png','user_data') }} 2000w" alt="サダナ・プロ4.2mm">
				</picture>
			</h3>

			<div class="waku">
				<div class="inner-block01">
					<div class="pct"><img src="{{ asset('img/christmas2023/col4_01.jpg','user_data') }}"></div>
					<div class="txt_box">
						<h4>ドイツ製の「一生もの」のヨガマット</h4>
						<p>表面のエンボス加工によりプロも納得のグリップ感があり、アドバンスポーズにも最適。<br>
						へたることなく使い込むほどに手足に馴染み、プラクティスの質を底上げしてくれます。<br>
						良いものをずっと使い続けたい本物志向の方にもきっと満足していただける品質です。</p>
					</div>
				</div>

				<div class="inner-block02">
					<div class="pct"><img src="{{ asset('img/christmas2023/col4_02.jpg','user_data') }}"></div>
					<div class="txt_box">
						<h4>男性にもおすすめの余裕のある幅と長さ</h4>
						<p>飽きのこないシックなニュアンスカラーの3色展開、長さも185cmあるので男性にもオススメです。<br>
						それでいて軽量化を実現しているので、ヨガスタジオへ持っていくこともでき、練習をいつも共にするかけがえのない相棒になってくれるマットです。</p>
					</div>
				</div>
			</div>

			<div class="banner"><a href="/products/detail/7"><img src="{{ asset('img/christmas2023/bn_sadhana.png','user_data') }}" alt="サダナ・プロ4.2mm"></a></div>

		</section>			
		</div>
	</div>
</article>
<!--/box 03-->

<!--box 04-->
<article>
	<div id="block" class="box02">
		<div class="box_frame">
		<div class="col_kazari02"><img src="{{ asset('img/christmas2023/col_kazari01.png','user_data') }}"></div>
	
		<section>
		
			<div class="btn_box04">
				<div class="btn_karadani"><img src="{{ asset('img/christmas2023/btn_karadani.png','user_data') }}" alt="ちゃんと身体に効かせたい方"></div>
				<div class="btn_teineini"><img src="{{ asset('img/christmas2023/btn_teineini.png','user_data') }}" alt="なんでも丁寧に行いたい方へ"></div>
			</div>

			<h3 class="col_title">
				<picture>
					<source media="(min-width:640px)" srcset="{{ asset('img/christmas2023/tt_block.png','user_data') }} 2000w">
					<source media="(min-width:320px)" srcset="{{ asset('img/christmas2023/tt_block_sp.png','user_data') }} 870w">
					<img srcset="{{ asset('img/christmas2023/tt_block_sp.png','user_data') }} 870w, 
					{{ asset('img/christmas2023/tt_block.png','user_data') }} 2000w" alt="ヨガブロック各種">
				</picture>
			</h3>

			<div class="waku">
				<div class="inner-block01">
					<div class="pct"><img src="{{ asset('img/christmas2023/col5_01.jpg','user_data') }}"></div>
					<div class="txt_box">
						<h4>「沈まない」という安心感</h4>
						<p>世の中にヨガブロックは多数ありますが、柔らかいブロックでは安心して体重を預けることができません。<br>
						そこでヨガワークスでは、グッと力を加えてもしっかりと押し返してくれる「固さ」にこだわりました。<br>
						身体の一部のように使える安心感を、ぜひ体感してください。</p>
					</div>
				</div>

				<div class="inner-block02">
					<div class="pct"><img class="corner" src="{{ asset('img/christmas2023/col5_02.jpg','user_data') }}"></div>
					<div class="txt_box">
						<h4>好みや体格に合わせて選べる厚さや素材</h4>
						<p>女性でも片手で掴みやすい厚さの「ヨガブロックA」、少しの厚みの違いでも安定性が抜群にいい「ヨガブロックB」、見た目もおしゃれで重みがある「コルクヨガブロック」。<br>
						好みや体格に合わせてぴったりのものをチョイスできます。</p>
					</div>
				</div>
			</div>

			<div class="banner_waku">
				<div class="bn_block-a">
					<a href="/products/detail/11"><img src="{{ asset('img/christmas2023/bn_block-a.png','user_data') }}" alt="ヨガブロックA"></a>
				</div>
				<div class="bn_block-b">
					<a href="/products/detail/12"><img src="{{ asset('img/christmas2023/bn_block-b.png','user_data') }}" alt="ヨガブロックB"></a>
				</div>

				<div class="bn_block-korc">
					<a href="/products/detail/13"><img src="{{ asset('img/christmas2023/bn_block-korc.png','user_data') }}" alt="コルクヨガブロック"></a>
				</div>
			</div>

		</section>			
		</div>
	</div>
</article>
<!--/box 04-->

<!--box 05-->
<article>
	<div id="bolster" class="box01">
		<div class="box_frame">
		<div class="col_kazari01"><img src="{{ asset('img/christmas2023/col_kazari02.png','user_data') }}"></div>
	
		<section>
		
			<div class="btn_box">
				<div class="btn_maternity"><img src="{{ asset('img/christmas2023/btn_maternity.png','user_data') }}" alt="マタニティの方へ"></div>
				<div class="btn_relax"><img src="{{ asset('img/christmas2023/btn_relax.png','user_data') }}" alt="リラックスしたい方"></div>
			</div>

			<h3 class="col_title">
				<picture>
					<source media="(min-width:640px)" srcset="{{ asset('img/christmas2023/tt_bolster.png','user_data') }} 2000w">
					<source media="(min-width:320px)" srcset="{{ asset('img/christmas2023/tt_bolster_sp.png','user_data') }} 870w">
					<img srcset="{{ asset('img/christmas2023/tt_bolster_sp.png','user_data') }} 870w, 
					{{ asset('img/christmas2023/tt_bolster.png','user_data') }} 2000w" alt="ボルスター">
				</picture>
			</h3>

			<div class="waku">
				<div class="inner-block01">
					<div class="pct"><img src="{{ asset('img/christmas2023/col6_01.jpg','user_data') }}"></div>
					<div class="txt_box">
						<h4>「ここちよさ」に導くフォルムと品質</h4>
						<p>どんなポーズでもしっかりと体にフィットする形状、長期間使っても完全に脱力して体を委ねても安定感。肌に触れる表面の布のシャリ感など、
使用する方の「ここちよさ」にこだわった自信のアイテムです。疲れを溜め込みやすい方へ、また自分への一年のご褒美として、体の芯からのリラックス体験をプレゼントしませんか？</p>
					</div>
				</div>

				<div class="inner-block02">
					<div class="pct"><img src="{{ asset('img/christmas2023/col6_02.jpg','user_data') }}"></div>
					<div class="txt_box">
						<h4>ひとつひとつ、日本国内で丁寧に製造</h4>
						<p>熟練の職人がひとつずつ丁寧に仕上げているため、機械生産では実現できない、ぎゅっと詰まったフォルムを実現。繰り返しの使用でも型崩れしない耐久性があります。<br>
						また中身の綿は、糸を作る工程で通常は廃棄されてしまう「落ち綿」を使用。環境のことも考えた、本物志向の方にもおすすめです。</p>
					</div>
				</div>
			</div>

			<div class="banner"><a href="/products/detail/16"><img src="{{ asset('img/christmas2023/bn_bolster.png','user_data') }}" alt="ボルスター"></a></div>

		</section>			
	</div>
	</div>
</article>
<!--/box 05-->


<!--box ft-->
<article>
	<div class="box03">
	
	<div class="col_kazari03"><img src="{{ asset('img/christmas2023/col_kazari03.png','user_data') }}"></div>
		<section>
			<div class="waku">
				<div class="inner-block03">
					<p>ヨガワークスのアイテムが、<br>
					多くの方の笑顔と健康に<br class="sp">つながることを願っています。<br>
					<br>
					皆さんに幸せなクリスマスが<br class="sp">訪れますように。</p>
				</div>
			</div>

			<div class="col_kazari04"><img src="{{ asset('img/christmas2023/kazari_ft.png','user_data') }}"></div>
		</section>			

	</div>
</article>
<!--/box ft-->
	
</main>
{% endblock %}