{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<div class="ec-role" style="padding: 0 0 0 10px;">
        <div class="ec-secHeading">
            <span class="ec-secHeading__en">{{ 'RANKING'|trans }}</span>
            <span class="ec-secHeading__line"></span>
            <span class="ec-secHeading__ja">{{ '売上ランキング'|trans }}</span>
        </div>
    <div class="featured-new-goods-cont">

        <div class="molecule-carousel">
        <a href="{{ url('product_detail', {'id': '179'}) }}" class="featured-new-goods-goods-item">
            <div class="molecules-good-image-with-info">
            <div class="badge-items_rank">
                <div class="badge-item rank">
                <span class="badge-text"><img src="{{ asset('assets/img/common/rank_01.svg') }}"></span>
                </div>
            </div>
            <img src="/html/upload/save_image/0405181123_642d3b3b83398.jpg" alt="サダナ・ナチュラル・ピュア4mm" width="165" height="165" class="item-thumb_image img loaded"/>
            </div>
            <span class="goods-itemname">サダナ・ナチュラル・ピュア4mm</span>
            <div class="goods-itemprice">¥10,780</div>
        </a>
            
        <a href="{{ url('product_detail', {'id': '6'}) }}" class="featured-new-goods-goods-item">
            <div class="molecules-good-image-with-info">
             <div class="badge-items_rank">
                <div class="badge-item rank">
                <span class="badge-text"><img src="{{ asset('assets/img/common/rank_02.svg') }}"></span>
                </div>
            </div>
            <img src="/html/upload/save_image/0920152201_63295c0961ef9.jpg" alt="ピラティスマット12mm ミント" width="165" height="165" class="item-thumb_image img loaded"/>
            </div>
            <span class="goods-itemname">ヨガマット12mm ミント</span>
            <div class="price-wrapper">
            <div class="goods-itemprice">¥6,380</div>
            </div>
        </a>

        <a href="{{ url('product_detail', {'id': '155'}) }}" class="featured-new-goods-goods-item">
            <div class="molecules-good-image-with-info">
            <div class="badge-items_rank">
                <div class="badge-item rank">
                <span class="badge-text"><img src="{{ asset('assets/img/common/rank_03.svg') }}"></span>
                </div>
            </div>
            <img src="/html/upload/save_image/0406135947_642e51c325779.jpg" alt="サダナ・ナチュラル4mm マーブル" width="165" height="165" class="item-thumb_image img loaded"/>
            </div>
            <span class="goods-itemname">サダナ・ナチュラル・マーブル 4mm</span>
            <div class="price-wrapper">
            <div class="goods-itemprice">¥13,200</div>

            </div>
        </a>

        <a href="{{ url('product_detail', {'id': '56'}) }}" class="featured-new-goods-goods-item">
            <div class="molecules-good-image-with-info">
            <div class="badge-items_rank">
                <div class="badge-item rank">
                <span class="badge-text"><img src="{{ asset('assets/img/common/rank_04.svg') }}"></span>
                </div>
            </div>
            <img src="/html/upload/save_image/1117123053_6556de6db2337.jpg" alt="ピーナッツコラボ3 ヨガマット6mm" width="165" height="165" class="item-thumb_image img loaded"/>
            </div>
            <span class="goods-itemname">ピーナッツコラボ3 ヨガマット6mm</span>
            <div class="price-wrapper">
            <div class="goods-itemprice">SALE!¥4,312</div>
            </div>
        </a>

        <a href="{{ url('product_detail', {'id': '6'}) }}" class="featured-new-goods-goods-item">
            <div class="molecules-good-image-with-info">
             <div class="badge-items_rank">
                <div class="badge-item rank">
                <span class="badge-text"><img src="{{ asset('assets/img/common/rank_05.svg') }}"></span>
                </div>
            </div>
            <img src="/html/upload/save_image/a250-c014.jpg" alt="ピラティスマット 12mm マルベリー" width="165" height="165" class="item-thumb_image img loaded"/>
            </div>
            <span class="goods-itemname">ピラティスマット 12mm マルベリー</span>
            <div class="price-wrapper">
            <div class="goods-itemprice">¥6,380</div>
            </div>
        </a>

        <a href="{{ url('product_detail', {'id': '16'}) }}" class="featured-new-goods-goods-item">
            <div class="molecules-good-image-with-info">
             <div class="badge-items_rank">
                <div class="badge-item rank">
                <span class="badge-text"><img src="{{ asset('assets/img/common/rank_06.svg') }}"></span>
                </div>
            </div>
            <img src="/html/upload/save_image/0711164922_64ad098265d7b.jpg" alt="ボルスター ダスティピンク" width="165" height="165" class="item-thumb_image img loaded"/>
            </div>
            <span class="goods-itemname">ボルスター ダスティピンク</span>
            <div class="price-wrapper">
            <div _class="goods-itemprice">¥14,080</div>
            </div>
        </a>

        <a href="{{ url('product_detail', {'id': '27'}) }}" class="featured-new-goods-goods-item">
            <div class="molecules-good-image-with-info">
             <div class="badge-items_rank">
                <div class="badge-item rank">
                <span class="badge-text"><img src="{{ asset('assets/img/common/rank_07.svg') }}"></span>
                </div>
            </div>
            <img src="/html/upload/save_image/a160c009.jpg" alt="ワッフルヨガラグ フレンチラベンダー" width="165" height="165" class="item-thumb_image img loaded"/>
            </div>
            <span class="goods-itemname">ワッフルヨガラグ フレンチラベンダー</span>
            <div class="price-wrapper">
            <div class="goods-itemprice">¥4,290</div>
            </div>
        </a>
        <!--<a href="{{ url('product_detail', {'id': '2'}) }}" class="featured-new-goods-goods-item">
            <div class="molecules-good-image-with-info">
             <div class="badge-items_rank">
                <div class="badge-item rank">
                <span class="badge-text"><img src="{{ asset('assets/img/common/rank_08.svg') }}"></span>
                </div>
            </div>
            <img src="/html/upload/save_image/a201c119.jpg" alt="ヨガマット3.5mm キナコ【カーボンオフセット対応】" width="165" height="165" class="item-thumb_image img loaded"/>
            </div>
            <span class="goods-itemname">ヨガマット3.5mm キナコ【カーボンオフセット対応】</span>
            <div class="price-wrapper">
            <div class="goods-itemprice">¥2,112 ～ ¥3,520</div>
            </div>
        </a><-->

        <a href="{{ url('product_detail', {'id': '11'}) }}" class="featured-new-goods-goods-item">
            <div class="molecules-good-image-with-info">
             <div class="badge-items_rank">
                <div class="badge-item rank">
                <span class="badge-text"><img src="{{ asset('assets/img/common/rank_09.svg') }}"></span>
                </div>
            </div>
            <img src="/html/upload/save_image/block-a_ol_220317.jpg" alt="ヨガブロックA 2個セット" width="165" height="165" class="item-thumb_image img loaded"/>
            </div>
            <span class="goods-itemname">ヨガブロックA 2個セット</span>
            <div class="price-wrapper">
            <div class="goods-itemprice">¥4,400</div>
            </div>
        </a>

        <a href="{{ url('product_detail', {'id': '5'}) }}" class="featured-new-goods-goods-item">
            <div class="molecules-good-image-with-info">
             <div class="badge-items_rank">
                <div class="badge-item rank">
                <span class="badge-text"><img src="{{ asset('assets/img/common/rank_10.svg') }}"></span>
                </div>
            </div>
            <img src="/html/upload/save_image/0930112058_6336528a70e16.jpg" alt="【アウトレット】トラベラー・ライト トウキョウ" width="165" height="165" class="item-thumb_image img loaded"/>
            </div>
            <span class="goods-itemname">【アウトレット】トラベラー・ライト トウキョウ</span>
            <div class="price-wrapper">
            <div class="goods-itemprice">SALE! ¥4,488</div>
            </div>
        </a>
        
        </div>

    </div>
</div>
<!--
<div class="ec-role">
    <div class="ec-newItemRole">
        <div class="ec-newItemRole__list">
            <div class="ec-newItemRole__listItem">
                <div class="ec-newItemRole__listItemHeading ec-secHeading--tandem">
                    <span class="ec-secHeading__en">{{ 'NEW ITEM'|trans }}</span>
                    <span class="ec-secHeading__line"></span>
                    <span class="ec-secHeading__ja">{{ '新着商品'|trans }}</span>
                    <a class="ec-inlineBtn--top" href="{{ url('product_list') }}">{{ 'more'|trans }}</a>
                </div>
            </div>
            <div class="ec-newItemRole__listItem">
                <a href="{{ url('product_detail', {'id': '20'}) }}">
                    <img src="{{ asset('/html/upload/save_image/grippone-all_yw.jpg', 'save_image') }}">
                    <p class="ec-newItemRole__listItemTitle">{{ 'ピラティス・ローラー GRIPPONE(グリッポン)'|trans }}</p>
                    <p class="ec-newItemRole__listItemPrice">{{ '￥1,320 ～ ￥9,680'|trans }}</p>
                </a>
            </div>
            <div class="ec-newItemRole__listItem">
                <a href="{{ url('product_detail', {'id': '2'}) }}">
                    <img src="{{ asset('/html/upload/save_image/mat35_ol.jpg', 'save_image') }}">
                    <p class="ec-newItemRole__listItemTitle">{{ 'ヨガマット3.5mm'|trans }}</p>
                    <p class="ec-newItemRole__listItemPrice">{{ '￥2,112 ～ ￥3,520'|trans }}</p>
                </a>
            </div>
            <div class="ec-newItemRole__listItem">
                <a href="{{ url('product_detail', {'id': '3'}) }}">
                    <img src="{{ asset('/html/upload/save_image/mat6_ol.jpg'|no_image_product , 'save_image') }}">
                    <p class="ec-newItemRole__listItemTitle">{{ 'ヨガマット6mm'|trans }}</p>
                    <p class="ec-newItemRole__listItemPrice">{{ '￥3,696 ～ ￥4,620'|trans }}</p>
                </a>
            </div>
        </div>
    </div>
</div>-->