<div class="ec-sliderRole">
    <div class="main_visual">
       <div class="item slick-slide"><a href="/user_data/christmas2023">
            <picture>
            <source media="(min-width:640px)" srcset="{{ asset('img/christmas2023/kv.jpg','user_data') }} 2000w">
            <source media="(min-width:320px)" srcset="{{ asset('img/christmas2023/kv_sp.jpg','user_data') }} 870w">
            <img srcset="{{ asset('img/christmas2023/kv_sp.jpg','user_data') }} 870w,
            {{ asset('img/christmas2023/kv.jpg','user_data') }} 2000w" alt="クリスマスギフトにおすすめのヨガグッズ特集">
            </picture>
        </a></div>
        
       <div class="item slick-slide"><a href="https://www.yogaworks.co.jp/products/traveller-to-go/">
            <picture>
            <source media="(min-width:640px)" srcset="{{ asset('img/top/231129travellertogojp.jpg','user_data') }} 2000w">
            <source media="(min-width:320px)" srcset="{{ asset('img/top/231129travellertogojpsp.jpg','user_data') }} 870w">
            <img srcset="{{ asset('img/top/231129travellertogojpsp.jpg','user_data') }} 870w,
            {{ asset('img/top/231129travellertogojp.jpg','user_data') }} 2000w" alt="Traveller TO GO">
            </picture>
        </a></div>
        
       <div class="item slick-slide"><a href="/products/detail/6">
            <picture>
            <source media="(min-width:640px)" srcset="{{ asset('assets/img/top/topjp231106_pilatesmat_chai.jpg') }} 2000w">
            <source media="(min-width:320px)" srcset="{{ asset('assets/img/top/topjp231106_pilatesmat_chai870.jpg') }} 870w">
            <img srcset="{{ asset('assets/img/top/topjp231106_pilatesmat_chai870.jpg') }} 870w,
            {{ asset('assets/img/top/topjp231106_pilatesmat_chai.jpg') }} 2000w" alt="Pilatesmat CHAI">
            </picture>
        </a></div>
        
       <div class="item slick-slide"><a href="/user_data/winter_item2022">
            <picture>
            <source media="(min-width:640px)" srcset="{{ asset('assets/img/top/slider_winteritem2022.jpg') }} 2000w">
            <source media="(min-width:320px)" srcset="{{ asset('assets/img/top/slider_winteritem2022sp.jpg') }} 870w">
            <img srcset="{{ asset('assets/img/top/slider_winteritem2022sp.jpg') }} 870w,
            {{ asset('assets/img/top/slider_winteritem2022.jpg') }} 2000w" alt="タイプ別　冷える季節のお守りヨガアイテム3選">
            </picture>
        </a></div>
        
       <div class="item slick-slide"><a href="https://www.yogaworks.co.jp/sadhana_natural/">
            <picture>
            <source media="(min-width:640px)" srcset="{{ asset('assets/img/top/sadhana0405-natural_jp.jpg') }} 2000w">
            <source media="(min-width:320px)" srcset="{{ asset('assets/img/top/sadhana0405-natural_jp870.jpg') }} 870w">
            <img srcset="{{ asset('assets/img/top/sadhana0405-natural_jp870.jpg') }} 870w,
            {{ asset('assets/img/top/sadhana0405-natural_jp.jpg') }} 2000w" alt="サダナ・ナチュラル">
            </picture>
        </a></div>
        
        <div class="item slick-slide"><a href="https://www.yogaworks.co.jp/sadhana/">
            <picture>
            <source media="(min-width:640px)" srcset="{{ asset('assets/img/top/sadhana_jp.jpg') }} 2000w">
            <source media="(min-width:320px)" srcset="{{ asset('assets/img/top/sadhana_jp870.jpg') }} 870w">
            <img srcset="{{ asset('assets/img/top/sadhana_jp870.jpg') }} 870w,
            {{ asset('assets/img/top/sadhana_jp.jpg') }} 2000w" alt="新ブランド「サダナ」誕生">
            </picture>
        </a></div>
        
        <!--<div class="item slick-slide"><a href="/products/list?category_id=9">
            <picture>
            <source media="(min-width:640px)" srcset="{{ asset('assets/img/top/top_peanuts3_ol_221024.jpg') }} 2000w">
            <source media="(min-width:320px)" srcset="{{ asset('assets/img/top/top_peanuts3_ol870_221024.jpg') }} 870w">
            <img srcset="{{ asset('assets/img/top/top_peanuts3_ol870_221024.jpg') }} 870w,
            {{ asset('assets/img/top/top_peanuts3_ol_221024.jpg') }} 2000w" alt="ピーナッツコラボ">
            </picture>
        </a></div>-->
        
        <div class="item slick-slide"><a href="/entry">
            <picture>
            <source media="(min-width:640px)" srcset="{{ asset('assets/img/top/regist-camp2022.jpg') }} 2000w">
            <source media="(min-width:320px)" srcset="{{ asset('assets/img/top/regist-camp2022sp.jpg') }} 870w">
            <img srcset="{{ asset('assets/img/top/regist-camp2022sp.jpg') }} 870w,
            {{ asset('assets/img/top/regist-camp2022.jpg') }} 2000w" alt="新規登録キャンペーン">
            </picture>
        </a></div>
        
        <!--<div class="item slick-slide"><a href="https://my.ebook5.net/yogaworks/2022catalog/" target="_blank">
            <picture>
            <source media="(min-width:640px)" srcset="{{ asset('assets/img/top/top_catalog2022.jpg') }} 2000w">
            <source media="(min-width:320px)" srcset="{{ asset('assets/img/top/top_catalog2022_sp.jpg') }} 870w">
            <img srcset="{{ asset('assets/img/top/top_catalog2022_sp.jpg') }} 870w,
            {{ asset('assets/img/top/top_catalog2022.jpg') }} 2000w" alt="Catalog 2022">
            </picture>
        </a></div>-->
    </div>
</div>